* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}

:root {
  /* color */
  --yellow: #FFD700;
  --dark-text: #000;
  --semi-dark-text: #333;
  --plain: #F9F9F9;
  --pure-white: #FFF;
  --dark-bg: #1E1E1E;

  /* padding */
  --small-screen-padding: 20px;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--plain);
  line-height: 1.5;
  overflow-x: hidden;
}

.header-container {
  width: 100%;
  padding: var(--small-screen-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 1rem;
}

.nav-container {
  display: none;
}

.nav-container.active {
  display: block;
  position: absolute;
  background: var(--pure-white);
  top: 65px;
  right: 10px;
  padding: 20px;
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  transform: translateX(100vw);
  animation: slide-in 0.6s ease-out forwards;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  padding: 10px;
  text-decoration: none;
  color: var(--semi-dark-text);
}

.resume {
  padding: 10px;
  border: none;
  background: var(--yellow);
  border-radius: 8px;
  color: var(--dark-text);
  font-family: inherit;
  font-weight: 700;
}

.button-container {
  width: 25px;
  height: 20px;
}

.hamburger {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.one,
.three {
  width: 100%;
}

.two {
  width: 70%;
  animation: slide-in 0.6s ease;
}

.one,
.two,
.three {
  height: 3px;
  background: var(--dark-text);
  border-radius: 20px;
  transition: all 0.6s ease;
}

.one.active {
  transform: rotate(-135deg);
  position: absolute;
  top: 50%;
  transition: all 0.6s ease;
}

.two.active {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: slide-out 0.6s ease forwards;
}

.three.active {
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  transition: all 0.6s ease;
}

@keyframes slide-in {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100vw);
  }
}
