* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}

:root {
  /* color */
  --yellow: #FFD700;
  --dark-text: #000;
  --semi-dark-text: #333;
  --plain: #F9F9F9;
  --pure-white: #FFF;
  --dark-bg: #1E1E1E;

  /* padding */
  --small-screen-padding: 20px;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--plain);
  line-height: 1.5;
  overflow-x: hidden;
}

.header-container {
  width: 100%;
  background: var(--plain);
  padding: var(--small-screen-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 1rem;
  animation: fade-in 1s ease-in-out;
}

.nav-container {
  display: none;
}

.nav-container.active {
  display: block;
  position: absolute;
  background: var(--pure-white);
  top: 65px;
  right: 10px;
  padding: 20px;
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  transform: translateX(100vw);
  animation: slide-in 0.6s ease-out forwards;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  padding: 10px;
  text-decoration: none;
  color: var(--semi-dark-text);
}

.resume {
  padding: 10px;
  border: none;
  background: var(--yellow);
  border-radius: 8px;
  color: var(--dark-text);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
}

.button-container {
  width: 25px;
  height: 20px;
}

.hamburger {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.one,
.three {
  width: 100%;
}

.two {
  width: 70%;
  animation: slide-in 0.6s ease;
}

.one,
.two,
.three {
  height: 3px;
  background: var(--dark-text);
  border-radius: 20px;
  transition: all 0.6s ease;
}

.one.active {
  transform: rotate(-135deg);
  position: absolute;
  top: 50%;
  transition: all 0.6s ease;
}

.two.active {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: slide-out 0.6s ease forwards;
}

.three.active {
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  transition: transform 0.6s ease;
}

.hero-container {
  width: 100%;
  padding: var(--small-screen-padding);
  background: var(--yellow);
  margin-top: 65px;
}

.hero {
  width: 100%;
}

.hero-image img {
  display: none;
}

.hero-text h1 {
  margin-bottom: 20px;
  animation: slide-up 1.5s ease-in-out;
}

.hero-text p {
  margin-bottom: 20px;
  animation: 
    fade-in 2s ease-in-out,
    slide-in 2s, ease-in-out;
}

.hero-text button {
  padding: 10px;
  border: none;
  width: 100px;
  background: var(--dark-bg);
  color: var(--yellow);
  border-radius: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  transition: transform 0.3s ease-in-out;
  animation: fade-in 2s ease-in-out;
}

.hero-text button:hover {
  transform: scale(1.1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100vw);
  }
}

@media screen and (min-width: 601px) {
  header {
    width: 95%;
  }

  .logo h2 {
    font-size: 1.2rem;
  }

  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .hero {
    width: 95%;
    display: flex;
  }

  .hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-image {
    width: 50%;
    position: absolute;
    right: -1vw;
    bottom: 0;
  }

  .hero-image img {
    width: 100%;
    display: block;
  }
}
