* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}

:root {
  /* color */
  --yellow: #FFD700;
  --dark-text: #000;
  --semi-dark-text: #333;
  --plain: #F9F9F9;
  --pure-white: #FFF;
  --dark-bg: #1E1E1E;

  /* padding */
  --small-screen-padding: 20px;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--plain);
  line-height: 1.5;
  overflow-x: hidden;
}

.header-container {
  width: 100%;
  background: var(--pure-white);
  padding: var(--small-screen-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 1rem;
}

.nav-container {
  display: none;
}

.nav-container.active {
  display: block;
  position: absolute;
  background: var(--pure-white);
  top: 65px;
  right: 10px;
  padding: 20px;
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  animation: fade-in 0.3s ease forwards;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  padding: 10px;
  text-decoration: none;
  color: var(--semi-dark-text);
  transition: 
    font-size 0.2s ease,
    font-weight 0.2s ease;
}

.link:hover {
  font-size: 1rem;
  font-weight: 700;
}

.resume {
  padding: 10px;
  border: none;
  background: var(--yellow);
  border-radius: 8px;
  color: var(--dark-text);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.resume:hover {
  transform: scale(1.1);
}

.button-container {
  width: 25px;
  height: 20px;
}

.hamburger {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.one,
.three {
  width: 100%;
}

.two {
  width: 70%;
}

.one,
.two,
.three {
  height: 3px;
  background: var(--dark-text);
  border-radius: 25px;
  transition: all 0.3s ease;
}

.one.active {
  transform: rotate(-135deg);
  position: absolute;
  top: 50%;
  transition: all 0.6s ease;
}

.two.active {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}

.three.active {
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  transition: all 0.6s ease;
}

.hero-container {
  width: 100%;
  padding: var(--small-screen-padding);
  background: var(--yellow);
  margin-top: 65px;
}

.hero {
  width: 100%;
}

.hero-image img {
  display: none;
}

.hero-text h1 {
  margin-bottom: 20px;
  animation: slide-up 1s ease-in-out;
}

.hero-text p {
  margin-bottom: 20px;
  animation: slide-up 2s ease-in-out;
}

.hire {
  padding: 10px;
  border: none;
  width: 100px;
  background: var(--dark-bg);
  color: var(--yellow);
  border-radius: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
  transition: transform 0.3s ease-in-out;
  animation: fade-in 2.2s ease-in-out;
}

.hire:hover {
  transform: scale(1.1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 481px) {
  header {
    width: 95%;
  }

  .logo h2 {
    font-size: 1.2rem;
  }

  .hero {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 601px) {
  header {
    width: 95%;
  }

  .logo h2 {
    font-size: 1.2rem;
  }

  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    width: 95%;
    height: 400px;
    display: flex;
    justify-content: space-between;
  }

  .hero-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-image {
    width: 100%;
    height: 100%;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
    display: block;
    animation: fade-in 1.2s ease-in-out;
  }
}

@media screen and (min-width: 769px) {
  header {
    width: 750px;
  }
  .logo h2 {
    font-size: 1.2rem;
  }

  .button-container {
    display: none;
  }

  .nav-container {
    display: block;
    position: static;
  }

  .nav-links {
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .link {
    font-size: 0.85rem;
  }

  .hero {
    width: 750px;
    height: 450px;
  }

  .hero-text h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1025px) {
  header {
    width: 950px;
  }

  .hero {
    width: 950px;
    height: 500px;
  }

  .hero-text h1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1201px) {
  header {
    width: 1100px;
  }

  .link {
    font-size: 1.1rem;
  }

  .link:hover {
    font-size: 1.2rem;
  }

  .resume {
    font-size: inherit;
  }

  .hero {
    width: 1100px;
    height: 540px;
  }

  .hero-text h1 {
    font-size: 5.5rem;
  }
}
