* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
}

:root {
  /* colors */
  --color1: #121212;
  --color2: #E5E5E5;
  --color3: #B0B0B0;
  --color4: #ffeb3b;
}

body {
  background: var(--color1);
  color: var(--color2);
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color1);
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-container {
  width: 245px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  background: var(--color1);
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px var(--color4);
  -webkit-box-shadow: 0px 0px 8px 2px var(--color4);
  -moz-box-shadow: 0px 0px 8px 2px var(--color4);
  display: none;
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 11;
}

.nav-container.active {
  display: block;
  animation: fade-in 0.5s ease alternate;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  margin: 20px;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--color2);
}

.resume {
  padding: 8px;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  background: var(--color4);
  color: var(--color1);
  font-weight: bold;
  font-size: inherit;
}

.nav-logo {
  width: 100%;
  max-width: 1205px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  letter-spacing: 5px;
  font-weight: 300;
  animation: fade-in 1s ease;
}

.menu-btn {
  width: 25px;
  height: 12px;
}

.hamburger {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  animation: fade-in 1s ease;
}

.one {
  width: 100%;
  transition: width 0.5s ease;
}

.two {
  width: 65%;
  transition: width 0.5s ease;
}

.one,
.two {
  height: 3px;
  background: var(--color4);
  border-radius: 5px;
  transition: all 0.5s ease;
}

.one.active {
  position: absolute;
  top: 50%;
  transform: rotate(-135deg);
  transition: transform 0.5s ease;
}

.two.active {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 481px) {
  .nav-logo {
    width: 90%;
  }
}

@media screen and (min-width: 769px) {
  .logo-text {
    font-size: 1rem;
  }

  .nav-logo {
    width: 100%;
  }

  .menu-btn {
    display: none;
  }

  .nav-container {
    box-shadow: none;
    display: block;
    width: 500px;
    position: inherit;
    padding: 0;
    animation: fade-in 1s ease;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    margin: 0;
  }

  .link {
    font-size: 0.9rem;
  }

  .resume {
    font-size: 0.9rem;
    width: 150px;
  }
}

@media screen and (min-width: 1025px) {
  .logo-text {
    font-size: 1.5rem;
  }

  .link {
    font-size: 1.2rem;
  }

  .resume {
    font-size: 1.2rem;
    width: 200px;
  }

  .nav-container {
    width: 600px;
  }
}
